/* styles.css */

/* Define color variables */
:root {
    --nav-color: #2a8812a8;
    --primary-color: #2a8812;
    --secondary-color: #47f51b;
    --background-color: #040803;
    --text-color: #e5f0e2;
}

h1, h2, h3 {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-size: 3.4em;
}

p {
  font-size: 23px;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  background-color: var(--nav-color);
  padding: 1em;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(10px);
}

nav ul {
  list-style: none;
  margin: 0;
  margin-right: 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s ease-out;
}

nav a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
}

section {
  padding: 2em;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

button:hover {
  color: #000000;
  background: transparent;
  box-shadow: none;
}
button:before,
button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--primary-color);
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,
button:hover:after{
  width:100%;
  transition:800ms ease all;
}

#home {
  background-image: linear-gradient(to bottom, var(--secondary-color), #246a11);
  background-size: 100% 300px;
  background-position: 0% 100%;
  transition: background-position 0.5s ease-out;
}

#home:hover {
  background-position: 100% 100%;
}

#about {
  text-align: center;
}

#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
}

#skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}

#skills li {
    margin: 29px;
    width: calc(33.33% - 126px);
    font-size: 56px;
}

#skills img {
  height: 159px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

#contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#contact li {
  margin-right: 20px;
}

#contact a {
  color: var(--text-color);
  text-decoration: none;
}

#contact a:hover {
  color: var(--secondary-color);
}
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 20px;
  border: 1px solid var(--primary-color);
  display: none;
  width: 500px;
}

#popup section {
  padding: 2em;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#popup h1, h2, h3 {
  padding-bottom: 10px;
  font-size: 2.4em;
}

#popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#popup li {
  margin-right: 20px;
}

#popup a {
  text-decoration: none;
  color: var(--text-color);
}

#popup a:hover {
  color: var(--secondary-color);
}

.close-btn {
  position: absolute;
  top: 22px;
  right: 23px;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: #47f51b;
}

.close-btn:after {
  right: inherit;
  top: 33px;
  left: 0px;
  bottom: 0px;
}

@media screen and (max-width: 800px) {
  h1, h2, h3 {
    font-size: 2.08em;
    width: max-content;
  }

  #skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 13px;
    flex-direction: column;
  }

  #skills li {
    margin-left: 105px;
  }

  #git {
    margin-left: -56px;
    padding-left: 40px;
  }

  #contact ul {
    margin-top: 42px;
    margin-bottom: 26px;
  }
}